html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.app {
    height: 100vh;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 730px;
    height: 280px;
    background: #fff;
    display: flex;
}

.card-image {
    width: 285px;
    height: auto;
}

.text-container {
    padding: 40px;

    width: 365px;
    height: 200px;
}

.text-title {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    letter-spacing: 0.25px;
    color: #48556a;
}

.text-desc {
    margin-top: 10px;
    font-weight: 500;
    font-size: 13px;
    font-family: 'Manrope';
    line-height: 20px;
    letter-spacing: 0.121875px;
    color: #6E8098;

}

.footer-image {
    margin-top: 18.52px;
}

.footer-oval {
    margin-top: 18.52px;
    margin-left: 161px;
}

/*  mobile
---------------------------*/
@media (max-width: 600px) {
    .card {
        width: 327px;
        height: 512px;
        background: #fff;
        flex-direction: column;
    }
    .card-image {
        width: auto;
        height: 200px;
    }
    .text-title {
        width: 263px;
        height: 72px;
        top: 310px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.2px;
        color: #48556A;
    }
    .text-desc {
        width: 263px;
        height: 100px;
        left: 56px;
        top: 394px;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.121875px;
        color: #6E8098;
        margin-top: 12px;
    }    
    .footer-image {
        margin-bottom: 20px;
    }
    .footer-oval {
        margin-left: 59px;
        margin-bottom: 24px;
    }


}
